.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-input {
  margin-bottom: 20px;
}

.todo-input button {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px;
}

.todo-list li.completed .todo-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-list li button {
  border: none;
  background-color: white;
}
